<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Assignment Workout
    </h1>
</div>
<h2>Basic dropdown:</h2>
<ul>
    <check24-dropdown
        [name]="'example-1'"
        [label]="'Example Dropdown 1'"
        [options]="options1"
    ></check24-dropdown>
</ul>

<h2>Dropdown with a selected option:</h2>
<ul>
    <check24-dropdown
        [name]="'example-2'"
        [label]="'Example Dropdown 2'"
        [options]="options2"
        [selectedOption]="'2-1'"
    ></check24-dropdown>
</ul>

<h2>Dropdown with an alert when selected:</h2>
<ul>
    <check24-dropdown
        [name]="'example-3'"
        [label]="'Example Dropdown 3'"
        [options]="options3"
        (onSelected)="onOption3Selected($event)"
    ></check24-dropdown>
</ul>